body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #021151;
    height: 100%;
}

h1 {
    margin-top: 50px;
}

input {
    margin-bottom: 20px;
}

button {
    margin-bottom: 20px;
}


ul.custom-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container-a {
    width: 33.33%;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #021151;
    height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    margin-top: 10px;
}

.card {
    background-color: #094083;
    color: white;
}


.input-container{
    position:relative;
    margin-bottom:25px;
}
.input-container label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}
.input-container input{
    border:0;
    border-bottom:1px solid #094083;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;

}
.input-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #094083;
}
.btn{
    color:#fff;
    background-color:#094083;
    outline: none;
    border: 0;
    color: #fff;
    padding:10px 20px;
    text-transform:uppercase;
    margin-top:50px;
    border-radius:2px;
    cursor:pointer;
    position:relative;
}

.btn:hover {
    background-color: #000140;
    color:white;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-12px;
    font-size:12px;

}

.book-image {
    max-width: 50px;
    max-height: 50px;
}

.input-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

.input-container select option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    padding: 10px;
}

.input-container select option:hover {
    background-color: #f0f0f0;
}

.input-container select {
    transition: border 0.3s, background-color 0.3s, color 0.3s;
}

.input-container select option {
    transition: background-color 0.3s, color 0.3s;
}

